wechat:
  appSecretID: abc
  appSecretKey: abc
  loginRedirectURL: "your/callback"
#  支付配置
  payment:
    appID: abc
    mchID: abc
    mchKey: abc
    mchSerialNum: abc
    certPath: abc
    keyPath: abc
    paymentNotifyURL: "your/notifyURL"
#    小程序配置
  mini:
    appSecretID: abc
    appSecretKey: abc

# 企业微信
qywechat:
  # 机器人
  chatRobot:
    webhookURL: "your/webhookURL"

zhipu:
  apikey: ''
  price: 0

mysql:
  dsn: "webook:webook@tcp(mysql8:3306)/webook?charset=utf8mb4&collation=utf8mb4_general_ci&parseTime=True&loc=Local&timeout=1s&readTimeout=3s&writeTimeout=3s"

redis:
  addr: "redis:6379"

es:
  url: ""
  sniff: false

question:
  zhipu:
    knowledgeBaseID: '1234'

web:
  port: 8080
  mode: debug
  maxActiveLimit: 300

session:
  sessionEncryptedKey: "abcd"
  cookie:
    domain: ".mianshi.icu"

kafka:
  network: tcp
  addresses:
    - kafka:9092

cron:
# 超时关闭订单
  closeTimeoutOrder:
    enableSeconds: true          # 是否使用秒作解析器，默认否
    spec: "* * * * *"           # 每分钟执行一次
# 超时释放积分
  unlockTimeoutCredit:
    enableSeconds: true          # 是否使用秒作解析器，默认否
    spec: "* * * * *"           # 每分钟执行一次
# 微信订单对账
  syncWechatOrder:
    enableSeconds: true          # 是否使用秒作解析器，默认否
    spec: "* * * * *"           # 每分钟执行一次
# 独立对账
  syncPaymentAndOrder:
    enableSeconds: true          # 是否使用秒作解析器，默认否
    spec: "* * * * *"           # 每分钟执行一次
